body{
    background: slategrey;
}

textarea{
    border-radius: 25px;
}

#cabeceraprincipal{
    background: dimgrey;
    padding-top: 10px;
    height: 120px;
}

#tituloprincipal{
    padding-left: 10px;
    padding-top: 10px;
    display: inline-block;
    width: 100px;
    color: black;
}

#cuerpoprincipal{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: darkgrey;
    width: 1270px;
    padding: 10px 10px 10px 10px;
    height: 100%;
    overflow: hidden;
}

.cuerporegistro {
    display: inline-block;
    width: 400px;
    height: 75vh;
}

.detallesusuario{
    display: inline-block;
    width: 400px;
    padding-left: 70px;
}
.labelinputs{
    margin-top: 20px;
}
.botonessubmit{
    display: inline-block;
    float: right;
    padding-right: 160px;
    padding-top: 160px;
}
#formsusuario{
    float: right;
}
#botonperfil{
    background-color: unset;
    border-style: none;
}