#cabeceraprincipal{
    height: 70px;
}
#bloquefotoperfil{
    display: block;
    text-align: center;
    float: left;
    width: 250px;
    height: 300px;
    margin-left: 10px;
    align-content: center;
}
#cuerpoprincipal{
    float: left;
    display: block;
    left: 28.5%;
    width: 875px;
}
#imagendeperfil{
    display: inline-block;
    margin-top: 25px;
}
#infoperfil{
     background-color: darkslategrey;
     border-radius: 25px;
     padding: 10px 20px;
 }
#bloqueinformacion{
    margin-top: 25px;
    margin-right: 25px;
    display: block;
    float: right;
    width: 350px;
    height: 400px;
}
#descripcionusuario{
    margin: auto;
    overflow: hidden;
    width: 800px;
    background-color: white;
    border-style: inset;
    border-radius: 20px;
    word-wrap: break-word;
}
#modalforo{
    left: 0;
    position: absolute;
    float: none;
    background: none;
}