<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta title="Description" content="Painga web con tematica de ajedrez">
    <meta title="keywords" content="ajedrez">
    <title>Ajedrez</title>
    <link rel="shorcut icon" href="ima/icono.ico">
    <link href="styles/hojaestilosindex.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body background="ima/fondo.jpg">

    <section style="padding: 0 0 0 8px">

        <figure class="d-inline" type = "fotografia">
            <img src="ima/tableroparte1.png" alt="nuevo" class = "rounded">
        </figure>

        <figure class="d-inline" type = "fotografia">
            <img src="ima/tableroparte2.png" alt="nuevo" class = "rounded">
        </figure>

        <figure class="d-inline" type="fotografia">
            <img src="ima/tableroparte3.png" alt="nuevo" class = "rounded">
        </figure>

        <figure class="d-inline">
            <img src="ima/tableroparte4.png" alt="nuevo" class = "rounded">
        </figure>

    </section>

    <footer>
        <button class = "btn btn-dark btn-block" style="margin: 10px">Boton</button>
    </footer>

</body>
</html>